@{
    ViewBag.Title = "Home Page";
}

<h2>Hands On Test - MVC Container</h2>
<br />
<app-root></app-root>

@section Scripts {
    <script src="~/Scripts/employee/runtime.js"></script>
    <script src="~/Scripts/employee/polyfills.js"></script>
    <script src="~/Scripts/employee/vendor.js"></script>
    <script src="~/Scripts/employee/main.js"></script>
}