@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Hands On Test - MVC Container</h2>
</div>

<div class="row">
    <app-root></app-root>
</div>

@section Scripts {
    <script src="~/Scripts/ng-employee/dist/ng-employee/runtime.js"></script>
    <script src="~/Scripts/ng-employee/dist/ng-employee/polyfills.js"></script>
    <script src="~/Scripts/ng-employee/dist/ng-employee/vendor.js"></script>
    <script src="~/Scripts/ng-employee/dist/ng-employee/main.js"></script>
}